.logoimg {
  width: 80px;
  cursor: pointer;
}
header {
  border-bottom: 2px solid #3d3c3c;
}
ul.nav {
  float: right;
  list-style: none;
  font-size: 20px;
}
ul.nav li {
  display: inline;
  margin-left: 30px;
  cursor: pointer;
}

.joinSign {
  padding: 10px;
  border: 2px solid #222;
  border-radius: 50%;
  background: #4e4e4e;
}
