.logoimg {
  margin-left: 20px;
  width: 5%;
  cursor: pointer;

  border: 2px solid #222;
  border-radius: 10%;
  background: #ffffff;
}

header {
  background-color: #222;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 95%;
}

ul.nav {
  padding-top: 25px;
  float: right;
  list-style: none;
  font-size: 20px;
}
ul.nav li {
  display: inline;
  margin-left: 30px;
  cursor: pointer;
}

.joinSign {
  padding: 10px;
  border: 2px solid #222;
  border-radius: 50%;
  background: #4e4e4e;
}
/*----------BurgerMenu-----------*/
.burger-menu {
  padding-top: 25px;
  float: left;
  position: relative;
}
.burger-menu a {
  text-decoration: none;
}

.menuImg {
  margin-left: 10%;
  height: 200px;

  border: 2px solid #222;
  border-radius: 10%;
  background: #ffffff;
}
.menu-icon {
  width: 40px;
  height: 30px;
  position: relative;
  cursor: pointer;
}

.menu-icon span {
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #ffffff;
  border-radius: 4px;
  transition: transform 0.3s ease-out;
}

.menu-icon span:nth-child(1) {
  top: 0;
  left: 0;
  transform-origin: left center;
}

.menu-icon span:nth-child(2) {
  top: 13px;
  left: 0;
  transform-origin: left center;
}

.menu-icon span:nth-child(3) {
  top: 26px;
  left: 0;
  transform-origin: left center;
}

.menu-icon.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.menu-icon.open span:nth-child(2) {
  transform: scaleX(0);
}

.menu-icon.open span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

.menu-links {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;

  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: left 0.3s ease-out;
  z-index: 10;
  backdrop-filter: blur(5px);
}

.menu-links.open {
  left: 0;
}

.menu-links ul {
  background-color: #222;
  padding-left: 30px;
  width: 300px;
  height: 100%;
  list-style: none;
  margin: 0;
  border-right: 2px white solid;
  display: flex;
  flex-direction: column;
}

.menu-links li {
  margin: 0;
  padding: 10px;
  text-align: left;
}

.menu-links a {
  transition: opacity 2s ease;
  color: #dad3d3;
}

.menu-links a:hover {
  color: #dad3d3;
  font-weight: 600;
}

.closeMenu {
  margin-left: -30px;
  width: 20px;
  height: 20px;
  padding: 2px;
  border: 2px solid #222;
  border-radius: 50%;
  background: #4e4e4e;
}

.closeMenu:hover {
  background: red;
}

.socNetworks {
  font-size: 20px;
  color: #646464;
}

.socNetworksLi {
  font-size: 20px;
}

.networksImg {
  width: 20px;
  height: 20px;
  padding: 5px;
  border: 2px solid #ffffff;
  border-radius: 30%;
}

.socNetworksLi:hover {
  font-weight: 600;
}
